<div class="container">

  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Logiciel
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div *ngIf="dataSource" class="mat-elevation-z1">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="numL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> numL</th>
            <td mat-cell *matCellDef="let element"> {{element.numL}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nomL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> nomL </th>
            <td mat-cell *matCellDef="let element"> {{element.nomL}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="typeL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> typeL </th>
            <td mat-cell *matCellDef="let element"> {{element.typeL}} </td>
          </ng-container>

          <ng-container matColumnDef="licenceL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> licenceL </th>
            <td mat-cell *matCellDef="let element"> {{element.licenceL}} </td>
          </ng-container>

          <ng-container matColumnDef="versionL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> versionL </th>
            <td mat-cell *matCellDef="let element"> {{element.versionL}} </td>
          </ng-container>
          <ng-container matColumnDef="editeurL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> editeurL </th>
            <td mat-cell *matCellDef="let element"> {{element.editeurL}} </td>
          </ng-container>

          <ng-container matColumnDef="dateL">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> dateL </th>
            <td mat-cell *matCellDef="let element"> {{element.dateL}} </td>
          </ng-container>

          <ng-container matColumnDef="suprimer">
            <th mat-header-cell *matHeaderCellDef >suprimer </th>
            <td mat-cell *matCellDef="let element">
              <button *ngIf="auth.role === 'admin'" mat-raised-button (click)=" onDeleteLogiciel(element.numL)" style="background-color: red" > suprimer</button>
            </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
                       [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of logiciels">
        </mat-paginator>
      </div>
    </mat-card-content>

  </mat-card>
  <br><br>
  <mat-card *ngIf="auth.role === 'admin'" class="form-block" style="float: right;">
    <mat-card-header>
      <mat-card-title>Ajouter un Logiciel</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="mt-4">
      <button mat-raised-button color="primary" (click)="goToNewLogiciel()">Ajouter </button>
    </mat-card-actions>
  </mat-card>

</div>
