<!-- home.component.html -->
<div class="container" style="text-align: center; margin-top: 50px;">
  <h1>Bienvenue sur notre application 🎉</h1>
  <p>Sélectionnez une option ci-dessous :</p>

  <!-- Boutons Material -->


          <button mat-button routerLink="/admin/machines"><mat-icon>computer</mat-icon>Machines</button>

          <button mat-button routerLink="/admin/logiciel"><mat-icon>apps</mat-icon>Logicliel</button>


          <button mat-button routerLink="/admin/fournisseur"> <mat-icon>local_shipping</mat-icon> Fournisseurs</button>


          <button mat-button routerLink="/admin/utilisateur"><mat-icon>person_outline</mat-icon> Utilisateurs</button>


          <button mat-button routerLink="/admin/emplacement"><mat-icon>my_location</mat-icon>Emplacements</button>


</div>
